## Core python programming

In [1]:
# =============TYPES OF VARIABLES ( INT , FLOAT, STRING, BOOL)================

# int - 
x=2

In [2]:
x

2

In [3]:
type(x)

int

In [4]:
# float -
y = 4.6

In [5]:
y

4.6

In [7]:
type(y)

float

In [8]:
# string - 
z = 'hello'

In [9]:
z

'hello'

In [10]:
z1 = "hi"

In [11]:
z1
print(z1)

hi

In [12]:
# bool // logical -
g = 'True'

In [13]:
g

'True'

In [14]:
i = "False"

In [15]:
i

'False'

In [16]:
a2=45

In [17]:
b2=56

In [18]:
a2
#b2

45

In [19]:
a2
b2

56

In [20]:
# ================== USING VARIABLES =======================

# Arithmetic -
A = 10
B = 5

In [21]:
C = A + B
C

15

In [22]:
D = B/A
D

0.5

In [23]:
E = A*B
E

50

In [24]:
F = B-A
F

-5

In [25]:
C

15

In [26]:
D

0.5

In [27]:
E

50

In [28]:
F

-5

In [29]:
# why is it better to use print() // (ANS) - all o/p will display one time 
print(C)
print(D)
print(E)
print(F)

15
0.5
50
-5

In [30]:
# How to run the square root operation - 

import math # math is the module which you are importing

In [31]:
math.sqrt(16) # 16 is the argument of the sqrt function

4.0

In [32]:
math.sqrt(A) #A=10 which we declare at begining

3.1622776601683795

In [33]:
round(math.sqrt(A))

3

In [35]:
# lets working with string 
greeting = "hello"
name = "NARESH IT STUDENTS"

In [36]:
message = greeting +  name
print( message)

helloNARESH IT STUDENTS

In [38]:
name = " NARESH"
message = greeting + name
message

'hello NARESH'

In [39]:
# ================ BOOL VARIABLES AND OPERATORS ====================
4<5

True

In [40]:
10>100

False

In [41]:
# <
# >
# <=
# >=
# and
# or
# not

In [42]:
result = 4<5

In [44]:
result

True

In [46]:
type(result)

bool

In [47]:
print(type(result))

<class 'bool'>

In [48]:
result2 = 5>1

In [49]:
result2

True

In [50]:
result3 = not(5>1)

In [51]:
result3

False

In [52]:
result or result2 or result3

True

In [53]:
result2 and result3

False

In [54]:
# =================== WHILE LOOP =========================

# what is while loop why used for - lets discuss that--- 

# while(condition){   # checking the condition if the conditiong is true then execute the loop and it keep continue thats why it called as loop
#     executable code1                        # if the condition is false then print to code4 
#     executable code2
#     executable code3
# }
# executable code4

In [55]:
# === python is indentation based program & no need to required 
# very important you have to check the indentataion & need to maintain properly
# python there is no curly braces
# --------------------------------------------------------------

#while condition:
#    executable code1
#    executable code2
#    executable code3
#executable code4

In [56]:
num = 12
while num<11:
    print(num)
    num = num+1
print('END OF THE PROGRAM')

END OF THE PROGRAM

In [57]:
count = 13
while count<12:
    print(count)
    count = count + 1
print("End the loop")

End the loop

In [58]:
#count = 22  #how to print infinite loop
#while count>12: # 22>12
#    print(count)
#    count = count + 1
#print("End the loop")

In [59]:
# ==================== FOR LOOP ==============================

# i define as iteration
for i in range(2):  # while loop we check the condition
    print('Hello python')

Hello python
Hello python

In [60]:
for i in range(5):
    print("Hello python:", i)
    print('welcome to NARESH IT')
    print('hi')

Hello python: 0
welcome to NARESH IT
hi
Hello python: 1
welcome to NARESH IT
hi
Hello python: 2
welcome to NARESH IT
hi
Hello python: 3
welcome to NARESH IT
hi
Hello python: 4
welcome to NARESH IT
hi

In [61]:
for i in range(7):
    print("Hello python:", i)

Hello python: 0
Hello python: 1
Hello python: 2
Hello python: 3
Hello python: 4
Hello python: 5
Hello python: 6

In [62]:
#Another way
mylist = [10,100,1000,2000]

In [241]:
mylist[0]

10

In [242]:
for j in mylist:
    print('jj is equal to :', j)

jj is equal to : 10
jj is equal to : 100
jj is equal to : 1000
jj is equal to : 2000

In [243]:
range(5)  #very quick way to creat a set of 5 numbers

range(0, 5)

In [244]:
list(range(5)) #what actually range 5 does

[0, 1, 2, 3, 4]

In [246]:
# ================= IF STATEMENT ======================
# -----(-2),(-1),(0),(1),(2)------------

import numpy as np # numpy is package is a scientific computation 
from numpy.random import randn

In [257]:
randn()

0.21901544199276782

In [267]:
# ========== IF-ELSE STATEMENT ====================
# -----(-2),(-1),(0),(1),(2)------------

answer = None
x = randn() 
if x>1:   # if is the keyword then use condition & if the condition is true then code got executed and keep going down
    answer = "Greater then 1"
else:
    answer = "Less then 1"
print(x)
print(answer)

0.3768140160127254
Less then 1

### what we learned so far -
1.Type of variable
2.Using variable
3.Logical variable and operator
4.while loop
5.For loop
6.if statement, if _ else statement, elif statement
7.random variables: randn()
8.numpy

### Fundamentals of python which are used in datascience -

In [268]:
# List - ordered sequeence of elements & always start with 0
# you can decleare the mixed datatype variables
# List closed in [] bracket

MyFirstList = [5, 50, 67, 2020]

In [269]:
MyFirstList

[5, 50, 67, 2020]

In [270]:
type(MyFirstList)

list

In [271]:
MysecondList = [2, 5.0,'AMXWAM',True,40+67j] #multiple datatypes you can declared in the list

In [272]:
MysecondList

[2, 5.0, 'AMXWAM', True, (40+67j)]

In [70]:
type(MysecondList)

list

In [273]:
amx = ['how are you?',55, (3,4,5)] #list inside the list

In [274]:
amx

['how are you?', 55, (3, 4, 5)]

In [275]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [276]:
fruits.count('apple')

2

In [277]:
range(15)

range(0, 15)

In [278]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [279]:
x = [1,2,3,4,5,6,7]
x

[1, 2, 3, 4, 5, 6, 7]

In [280]:
y = list(range(8))

In [281]:
y

[0, 1, 2, 3, 4, 5, 6, 7]

In [282]:
z = list(range(1,8))

In [283]:
z

[1, 2, 3, 4, 5, 6, 7]

In [82]:
a1 = list(range(5,8))
a1

[5, 6, 7]

In [83]:
a2 = list(range(100,120)) 
a2

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119]

In [84]:
a3 = list(range(10,20)) # 10 form right 20-1
a3

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [85]:
a4 = list(range(10,20,3)) # adding 3 steps from 10 to 20

In [86]:
a4

[10, 13, 16, 19]

In [284]:
xx = list(range(1,5,2))

In [285]:
xx

[1, 3]

In [286]:
a5 = list(range(20,40,5))
a5

[20, 25, 30, 35]

In [90]:
# Now we can check how to read information from the list
w = ['a','e','i','o','u']

In [91]:
w

['a', 'e', 'i', 'o', 'u']

In [92]:
w[0]

'a'

In [93]:
w[1]

'e'

In [94]:
w[2]

'i'

In [95]:
#if you have more no of list so how to know how many are there

len(w)

5

In [96]:
# a,e,i,o,u
# 0,1,2,3,4
# -5,-4,-3,-2,-1

w[-4]

'e'

In [97]:
w[0]

'a'

In [287]:
# overwrite values
w

['a', 'e', 10, 'o', 'u']

In [288]:
w[2] = 10
w[2]

10

In [289]:
w

['a', 'e', 10, 'o', 'u']

In [291]:
# slicing : operator
x = ['a', 'b', 'c', 'd', 'e' ,'f', 'g', 'h']
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [293]:
x[2:8] #left side part always begins with 0 but right side always have to (no.-1)// 7-1

['c', 'd', 'e', 'f', 'g', 'h']

In [294]:
x[-7:-1]

['b', 'c', 'd', 'e', 'f', 'g']

In [104]:
x[2:7]

['c', 'd', 'e', 'f', 'g']

In [105]:
x[-6:-1]

['c', 'd', 'e', 'f', 'g']

In [106]:
#advanced slicing - [_:_:_] starting,ending,step
#if you specified : one more time then you get 3 spot last step is nothing but step
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [107]:
x[0:8:2]

['a', 'c', 'e', 'g']

In [108]:
amxwam = ['A','B','C','D','E','F','G','H','I','J']
amxwam

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [109]:
amxwam[:]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [110]:
amxwam[0:]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [111]:
amxwam[1:]

['B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [112]:
amxwam[2:] #------------------------

['C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [113]:
amxwam[:7]

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [114]:
amxwam[2:7:3]

['C', 'F']

In [115]:
amxwam[-8:7]

['C', 'D', 'E', 'F', 'G']

In [116]:
amxwam[-8:-3]

['C', 'D', 'E', 'F', 'G']

In [117]:
# --- advanced slicing
amxwam[2:9:2]

['C', 'E', 'G', 'I']

In [118]:
amxwam[::3]

['A', 'D', 'G', 'J']

In [119]:
amxwam[::-2]

['J', 'H', 'F', 'D', 'B']

In [120]:
amxwam[6:1:-1]

['G', 'F', 'E', 'D', 'C']

In [121]:
amxwam

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [122]:
amxwam[6:1:-2]

['G', 'E', 'C']

In [123]:
#Tuples -- Immutable list or immutable sequence of values

t = (10,20,90)

In [124]:
t

(10, 20, 90)

In [125]:
t[1]

20

In [126]:
#t[1]=30  #you are unable to change after declaration

In [127]:
# Functions in python 

range(20, 31)

range(20, 31)

In [128]:
list(range(20, 31))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [129]:
mylist1 = list(range(20, 31))

In [130]:
mylist1

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [131]:
print(mylist1)

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [132]:
len(mylist1)

11

In [133]:
type(mylist1)

list

In [134]:
max(mylist1)

30

In [135]:
min(mylist1)

20

In [136]:
max(1,450,234)

450

In [137]:
min(1,450,234)

1

In [138]:
# PACKAGES IN PYTHON
# PACKAGE - BOX, BLENDERS -FUNCTIONS, FRUITS - CLASS,DATA etc... 
# where & how to find the packages - github,googles Q & A query
# Install packages in anaconda prompt
# conda install package name // pip install package name
# import the packages
# from package import module
# give an example of tensorflow how to install in pip

In [296]:
# NUMPY & ARRAY IN PYTHON
# numpy is the package you have to import 
# list is similar like to array
# numpy is also inbuild array in python

l = [23245, 27, 546, 215, -1234]
l

[23245, 27, 546, 215, -1234]

In [297]:
import numpy as np

In [298]:
a = np.array(l) # list is convert into arrays

In [299]:
a

array([23245,    27,   546,   215, -1234])

In [300]:
# what is the main difference between list & array
# you cannot create an array of different data types

b = np.array([12,455,True,'amxwam'])
b

array(['12', '455', 'True', 'amxwam'], dtype='<U11')

In [301]:
print(b)  #everything is converted into string

['12' '455' 'True' 'amxwam']

In [302]:
l  #when you select. and then tab you get list of function

[23245, 27, 546, 215, -1234]

In [304]:
l.pop()

215

In [305]:
l

[23245, 27, 546]

In [306]:
l

[23245, 27, 546]

In [149]:
a

array([23245,    27,   546,   215, -1234])

In [150]:
a.mean()

4559.8

In [151]:
a

array([23245,    27,   546,   215, -1234])

In [152]:
# slicing array

l

[23245, 27, 546, 215]

In [153]:
l[1:]

[27, 546, 215]

In [154]:
l[0:2]

[23245, 27]

In [155]:
l[::2]

[23245, 546]

In [156]:
a

array([23245,    27,   546,   215, -1234])

In [157]:
a[2:]

array([  546,   215, -1234])

In [158]:
a[2:4]

array([546, 215])

In [159]:
b

array(['12', '455', 'True', 'amxwam'], dtype='<U11')

In [160]:
b[0]

'12'

In [161]:
c = a.copy() # when you create a copy of numpy array, modification can not be done both object array but in list it

In [162]:
a

array([23245,    27,   546,   215, -1234])

In [163]:
c

array([23245,    27,   546,   215, -1234])

In [164]:
c[0] = 0

In [165]:
c

array([    0,    27,   546,   215, -1234])

In [166]:
a

array([23245,    27,   546,   215, -1234])

In [167]:
a[0]

23245

In [168]:
a

array([23245,    27,   546,   215, -1234])

In [169]:
c

array([    0,    27,   546,   215, -1234])

In [170]:
m = [1,2,3]
m[0]

1

In [171]:
m[0]= 81

In [172]:
m

[81, 2, 3]

In [173]:
n = list.copy(m) # when you create a copy of list, modification will done both object

In [174]:
n

[81, 2, 3]

In [175]:
m

[81, 2, 3]

In [176]:
n[0]

81

# what we learned so far -- 
'''
1> list
2> create some list[],range()
3> using [] bracket
4> slicing list
5> Tuples
6> functions 
7> packages
8> Numpys & Arrays
9> slicing arrays'''

### PYTHOH END -

-------